p {
    color: red;
    font-size: 13px;
}

body {
    background-color: rgb(74, 158, 247);
    font-size: 18px;
    font-family: "Times New Roman";
}

h1 {
    color:rgb(93, 8, 55);
    font-style: italic;
    font-family: "Times New Roman";
}

h2 {
    color:rgb(93, 8, 55);
    font-style: italic;
    font-family: "Times New Roman";
    background-color: rgb(103, 138, 177);
}

img {
    border-style: solid;
    border-color: brown;
    border-width: 7px;
}

table {
    border: 2px solid black;
    border-collapse: separate;
}